* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 30px;
  display: flex;
  justify-content: center;
  height: 100%;
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
  font-family: "Roboto", sans-serif;
}

a,
a:visited {
  color: yellowgreen;
}

main {
  background-color: #484848;
  border-radius: 4px;
  padding: 20px;
  width: 400px;
}

form {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}

form input {
  display: block;
  width: calc(100% - 100px);
  font-size: 0.8rem;
  padding: 5px;
  align-items: stretch;
  outline: none;
  border-radius: 4px;
  border: none;
  color: rgb(72, 72, 72);
}

form button {
  width: 100px;
  display: block;
  font-size: 0.7rem;
  border: none;
  border-radius: 4px;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 0;
}

tr:hover td {
  background-color: rgba(255, 255, 255, 0.1);
}

td:nth-child(1) {
  width: 24px;
}

td:nth-child(3) {
  width: 72px;
  font-size: 12px;
  text-align: center;
}

td:nth-child(2) {
  cursor: default;
}

td:nth-child(4) {
  width: 36px;
}

tr.done td:nth-child(2) {
  text-decoration: line-through;
}

table input[type="checkbox"] {
  cursor: pointer;
}

table i {
  cursor: pointer;
  opacity: 0.8;
}

table i:hover {
  opacity: 1;
}

.errors {
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  margin: 10px;
  width: auto;
  height: auto;
  padding: 20px 35px;
  flex-direction: column;
  transform: translateX(20px);
  opacity: 0;
}

.snack-container {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  display: flex;
  padding: 15px 15px;
  text-align: center;
  height: 45px;
  line-height: 1.6;
  align-items: center;
  width: auto;
  justify-content: center;
  border-radius: 4px;
  margin: 5px auto;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
  -webkit-box-shadow: -1px 7px 18px -1px rgba(109, 109, 109, 0.44);
  box-shadow: -1px 7px 18px -1px rgba(109, 109, 109, 0.44);
}

.errors.activated {
  animation-name: snackAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.errors.desactive {
  animation-name: snackAnimation2;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes snackAnimation {
  from {
    transform: translateX(20px);
    opacity: 0.25;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes snackAnimation2 {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(20px);
  }
}
